body, div{
    background-color:#393E46;
    font-family:Microsoft JhengHei;
    font-size:3vw;
    margin: auto;
    margin-top:5px;
    margin-bottom:5px;
    color:#AAAAAA;
    transition-duration: 0.4s;
}
p, option, .circle, h1, h2{
    display:inline-block;
    padding:0;
    margin:0;
}
h1, h2{
    width:100%;
    margin:auto;
    text-align:center;
}
form{
    margin-top:10%;
    margin-bottom:10%;
}
.div_question, .purchase_item{
    position:relative;
}
.div_question label, select, option, input{
    font-size:3vw;
}
.circle{
    position:absolute;
    right:-10px;
    top:-10px;
    height:6vw;
    width:6vw;
    font-size:2vw;
    background-color:#222222;
    border-radius:50px;
}
select, input{
    position:absolute;
    right:0;
    bottom:0;
    background-color:#0563af;
    color:white;
    width:50%;
    height:100%;
    border:none;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}
button{
    display:block;
    margin: auto;
    margin-top:10px;
    width:30%;
    padding: 10px 0 10px 0;
    color: rgb(150, 150, 150);
    background-color: rgb(30, 30, 30);
    font-size: 3vw;
    font-weight:bold;
    text-align: center;
    border-width:0;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.purchase_item{
    margin-top:10px;
    max-height:400px;
    transition: max-height 1s;
}
.main_container{
    width:80%;
}
.info_header{
    font-size:5vw;
}
.about_delete{
    overflow:hidden;
    max-height: 0;
}
/* Responsive Web*/
@media (min-width: 600px) {
    div{
        font-size:40px;
    }
    .main_container{
        width:400px;
    }
    .info_header, button{
        font-size:30px;
    }
    .div_question label, select, option, input{
        font-size:20px;
    }
    .circle{
        height:40px;
        width:40px;
        font-size:20px;
    }
}
.slim_border{
    padding:1% 10% 1% 10%;
    border-style:solid;
    border-width:2px;
    border-color: #748695;
    border-radius:20px;
}
.bottom_line{
    padding-bottom:2px;
    border-style:solid;
    border-width:0 0 1px 0;
    border-color:#AAAAAA;
}
#price_tag{
    width:70%;
    margin:auto;
    text-align:center;
}
